.c-hero-banner {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.c-hero-header {
  width: 100%;
  height: 100%;
}

.c-landscape {
  background-image: var(--landing-img-h);
}

.c-portrait {
  background-image: var(--landing-img-v);
}

.c-banner-bottom {
  background-image: var(--landing-img-b);
  width: 100%;
  height: 200px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.c-text-shadow {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.c-about-me-img {
  background-image: url("img/photos/header.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 300px;
  transform: translateX(-5rem);
  overflow: visible;
}

.c-project-img {
  overflow: hidden;
}

.c-project-img img {
  transition: transform 0.3s ease;
}

.c-project-img:hover img {
  opacity: 70%;
  transform: scale(1.3);
}